# Ambientes virtuais Python
.venv/
venv/
ENV/
env/

# Arquivos de cache e logs
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração do editor
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db
